# Android Project
.gradle/
**/.gradle/
local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
cmake-build-*
*.apk
*.aab
*.dex
*.class
*.log
MNN_Repo/build_android_arm64/
!.gitignore
*.lock
*.properties
!gradle-wrapper.properties
!local.properties
